
<%- include("partials/header") -%>
<div class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="col">
        <%= date%>
      </div>
      <div class="col">
      <%= day%>
      </div>
    </div>

  </div>
  <form action="/writting" method="post">
  <div >
      <p>
        <%= post%>
        </p>
  </div>

  <div >
    <form action="/reading" method="post">
      <button type="submit" name="editDate" value="<%= date%>">change</button>
    </form>
  </div>
  </form>
</div>

<%- include("partials/footer") -%>
