
<%- include("partials/header", {username:username, isLogin:isLogin}) -%>
<div class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="col">
        <%= stringDate%>
      </div>
      <div class="col">
      <%= day%>
      </div>
    </div>

  </div>
  <form action="/write" method="post">
  <div >
      <textarea type="text" name="content" rows="8" cols="80"><%= post%></textarea>
  </div>

  <div >
    <button type="submit" name="numericDate" value="<%= numericDate%> ">save</button>
  </div>
  </form>
</div>

<%- include("partials/footer") -%>
