
<%- include("partials/header") -%>
<div class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="col">
        <%= date%>
      </div>
      <div class="col">
      <%= day%>
      </div>
    </div>

  </div>
  <form action="/writting" method="post">
  <div >
      <textarea class="form-control" rows="8" name="content" ></textarea>
  </div>

  <div >
    <% var todayDate=new Date(date).toISOString().slice(0,10) %>
    <button type="submit" name="numericDate" value="<%= todayDate%> ">save</button>
  </div>
  </form>
</div>

<%- include("partials/footer") -%>
