
<%- include("partials/header") -%>
<div class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="col">
        <%= date%>
      </div>
      <div class="col">
      <%= day%>
      </div>
    </div>

  </div>
  <form action="/write" method="post">
  <div >
      <textarea class="form-control" rows="8" name="content" ><%= post%></textarea>
  </div>

  <div >

    <button type="submit" name="dateString" value="<%= date%> ">save</button>
  </div>
  </form>
</div>

<%- include("partials/footer") -%>
